page-home {

    .logoHeader{
        font-size: 50px;
        text-align: center;
        font-weight: 500
    }
    .logoHeaderSub{
        font-size: 20px;
        text-align: center;
        font-weight: 300
    }
    .joinBtn{
        margin-top: 150px;
        font-size: 20px;
        font-weight: 300
    }
}
